<form>
    <div class="form-group">
        <label for="currency-from">From:</label>
        {{input value=currency-from id="currency-from"}}
    {{!-- </div>
    <div class="form-group"> --}}
        <label for="currency-to">To:</label>
        {{input value=currency-to id="currency-to"}}
    </div>
    <div class="form-group">
        <label for="amount">Amount:</label>
        {{input value=amount id="amount"}}
    </div>

    <button class="btn" {{action 'convertCurrency'}}>Convert</button>
</form>
