body {
    font-family: 'Open Sans', sans-serif;
    background-color: #7F8080;
}

.currency-form {
    width: 60%;
    margin: 0 auto;
    background-color: #DCDCDC;
}

label, #amount, #fromChoice, #toChoice {
    font-size: 140%;
}

img {
    width: 100%;
}

form {
    padding: 5%;
}

.button {
    text-align: center;
}

.convert-btn {
    width: 90%;
    border-radius: 25px;
    background-color: #CDCDCD;
    color: white;
}

.convert-btn:hover {
    background-color: #B9B8C1;
    color: #454450;
}

.result {
    font-size: 160%;
    text-align: center;
    padding-bottom: 5%;
}

.result-number {
    color: #D2131F;
}

.footer {
    display: block;
    padding-bottom: 1%;
    margin-top: 75px;
    font-size: 60%;
    position: absolute;
    bottom: 0px;
    margin-left: 37%;
    text-align: center;
    font-size: 14px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0;
    }
    .currency-form {
        width: 100%;
    }
    .footer {
        display: none;
    }
}